/*------------------------------------------

Project Name : One;
Desgined By  : Faridul Haque;
Developed By : Faridul Haque;
Date        :  28/11/2017;

Table Of Index
------------------
01  .Base CSS

02. Common CSS

03. Preloader CSS

04. Hero CSS

05. About/ Skill CSS

06. Service CSS

07. Portfolio CSS

08. Working Process

09. Promo Cta CSS

10. Team  CSS

11. Testimonial CSS

12. Our Client CSS

13. Pricing CSS

14. Our Client CSS

15. Facts CSS

16. Newsletter CSS

17. Blog CSS

18. Video CSS

19. Contact Us CSS

20. Google Map CSS

21. Footer CSS

22. Inner Pages

23.Responsive CSS for All Device

------------------------------------------*/


/*
************************************************
           ==Start Base css==
************************************************
*/

.alignleft {
    float: left;
    margin-right: 15px
}
.alignright {
    float: right;
    margin-left: 15px
}
.aligncenter {
    display: block;
    margin: 0 auto 15px
}
img {
    max-width: 100%;
    height: auto
}
.fix {
    overflow: hidden
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
.btn {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0
}
h5 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 40px;
    font-weight: 300
}
h6 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600
}
p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 28px;
    color: #888
}
label {
    font-family: "Roboto", sans-serif;
    font-weight: 500
}
html,
body {
    color: #333;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    height: 100%;
    position: relative
}
li {
    list-style: none
}
a:hover {
    text-decoration: none
}
a:focus {
    text-decoration: none
}
a:focus {
    outline: 0 solid
}
input:focus,
textarea:focus {
    outline: none
}
.form-control:focus {
    box-shadow: none
}
.bg-gray {
    background: #f5f5f5
}

/*
************************************************
           ==Start Common CSS==
************************************************
*/

.section_title h3 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.3;
    padding-bottom: 5px
}
.section_title {
    max-width: 650px;
    margin: 0 auto
}
.section_title p {
    font-size: 16px
}
.section_title-2 h3 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.3;
    padding-bottom: 5px
}
.section_title-2 p {
    font-weight: 300;
    max-width: 500px;
    line-height: 25px;
    margin: 0 auto;
    color: #9e9e9e;
    letter-spacing: .3px
}
.section_title-2 hr {
    width: 60px;
    margin: 20px auto 0
}
.font-weight-500 h3 {
    font-weight: 500 !important
}
.font-weight-400 p {
    font-weight: 400
}
.subscribe_info.font-weight-500 h3 {
    font-weight: 500
}
.page-section {
    padding: 90px 0
}
.pt-90 {
    padding-top: 90px
}
.pt-100 {
    padding-top: 100px
}
.pb-30 {
    padding-bottom: 30px
}
.pb-50 {
    padding-bottom: 50px
}
.pb-80 {
    padding-bottom: 80px
}
.pb-100 {
    padding-bottom: 100px
}
.b-bottom {
    border-bottom: 1px solid#ddd
}
.overlay {
    position: relative;
    z-index: 1
}
.overlay:before {
    content: "";
    background-color: rgba(35, 35, 40, .85);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1
}
.overlay-2:before {
    background-color: rgba(31, 31, 35, 0.95)
}
.btn.xplus-btn {
    font-size: 15px;
    margin: 0px;
    letter-spacing: .5px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    text-transform: initial;
    font-weight: 600;
    box-shadow: none
}
.btn.xplus-btn:hover {
    color: #fff;
    background: #1177d1
}
.btn.xplus-btn:focus {
    color: #fff
}
.btn.xplus-btn.transparent {
    background: transparent;
    border: 3px solid #fff
}
.slider_btn {
    color: #ffffff;
    min-width: 220px;
    height: 60px;
    line-height: 60px
}
.btn.promo_btn {
    color: #fff;
    background: #233141;
    min-width: 200px
}
.btn.promo_btn:hover {
    color: #fff;
    background: #19222b
}
.promo_btn:hover,
.promo_btn:focus {
    color: #333333
}
a.btn.xplus-btn.promo_btn {
    float: right
}
a.btn.xplus-btn.pricing {
    color: #333;
    padding: 0 45px;
    background: none;
    border: 1px solid #ddd;
    height: 50px;
    line-height: 50px;
    margin-bottom: 50px
}
a.btn.xplus-btn.pricing:hover {
    color: #fff
}
a.btn.xplus-btn.pricing.active {
    color: #fff
}
a.btn.xplus-btn.pricing.active:hover {
    background: #1177D1;
    color: #fff;
    border-color: #1177D1
}
.wpcf7-form-control.wpcf7-submit {
    letter-spacing: .5px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 50px;
    min-width: 150px;
    line-height: 50px;
    padding: 0;
    float: right;
    box-shadow: none;
    border: none !important
}
.wpcf7-form-control.wpcf7-submit:focus {
    box-shadow: none
}
.wpcf7-submit:hover {
    background: #1177d1
}
input.wpcf7-submit:focus {
    outline: none
}
.border-bottom {
    border-bottom: 1px solid #ddd
}
.box_shadow {
    box-shadow: 0 4px 20px rgba(0, 0, 0, .08)
}
.small_box_shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2)
}
.service_icon_info .service-overlay,
.service_icon_info_top .service-overlay,
.blog_details,
.blog_item {
    border-radius: 5px
}
.team_member,
.tabby-content img,
.imageblock_content_img,
.imageblock_content_img img {
    border-radius: 10px
}
.member_img img,
.blog_single_post img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}
.blog_img img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}
.wow-hover:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15)
}

/*------ transition css -------*/
.service-4 .service_content,
.service-4.hover-border .service_content i,
.service-4.hover-border .service_content h3,
.portfolio-filter li.active,
.grid-gallery figcaption h3 a,
.grid-gallery figcaption h3,
.grid-gallery figcaption p a,
.grid-gallery figcaption p,
.single_mixitup_content .portfolio_details,
.grid figure figcaption i,
.box-shadow .grid figure,
.service_icon_info .service-overlay,
.service_icon_info_top .service-overlay,
.project_img .project-overlay,
.imageblock_content_img.video i.zmdi.zmdi-play-circle,
.member_toggle,
.blog_single_post,
.btn.promo_btn,
.btn.xplus-btn,
.owl-nav,
.member_social li a,
.team_icon a,
.blog_details a,
a.read-more,
.blog_content h4,
.load-more,
.portfolio_details_bg,
.pricing_table,
.wpcf7-submit,
.footer_menu li a,
.footer_left_icon li a,
.single-blog-post h5 a,
.single-blog-post a,
.pagination li a,
.catag li a,
.wpcf7-form-control {
    -webkit-transition: .5s;
    transition: .5s
}


/*
************************************************
         == Preloader CSS==
************************************************
*/

.loader-overlay {
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    width: 100%;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0
}
.preloader {
    background: #30ddb6 none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999999
}
.preloader-inner-area {
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%
}
.l-preloader {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto
}
.c-preloader {
    width: 60px;
    height: 60px;
    position: relative
}
.c-preloader::before {
    content: '';
    width: 60px;
    height: 60px;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    background-color: #98bd29;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-name: preloading;
    animation-name: preloading;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    left: 0px
}
.c-preloader::after {
    content: '';
    width: 60px;
    height: 60px;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    background-color: #acd09a;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-name: preloading;
    animation-name: preloading;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    left: 0px
}
@-webkit-keyframes "preloading" {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes "preloading" {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/*
************************************************
         == Hero CSS==
************************************************
*/

.hero-container {
    width: 100%;
    height: 100%
}
.hero-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center
}
.slidecenter {
    display: inline-block
}
.hero-container .slidecenter {
    display: table;
    width: 100%
}
.hero-container .slidecenter .slider-content {
    display: table-cell;
    vertical-align: middle
}
.slider-image {
    background-image: none
}
.slider-content h1 {
    color: #2196F3;
    font-size: 60px
}
.hero-slide.fixed-width {
    height: 55vh;
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    margin-top: 50px
}
.slider-content.static h3 {
    line-height: 46px;
    font-size: 30px;
    font-weight: 400;
    max-width: 770px;
    margin-bottom: 30px
}
.slider-content.static i {
    font-size: 50px
}
ul.watch-video-hero {
    padding: 0
}
.watch-video-hero li {
    display: inline-block
}
.watch-video-hero li p {
    position: relative;
    top: -13px;
    left: 0;
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #333
}
.header-default.classic {
    background: #fff
}
.banner-classic .hero-slide {
    height: 100vh;
    text-align: center
}
.banner-classic {
    background-image: url(images/assets/header.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}
.banner-classic-imprint {
    background-image: url(images/assets/hamburg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}

.slider-content.classic h2 {
    color: #fff;
    font-size: 80px;
    font-weight: 300;
    line-height: 90px;
    padding-bottom: 15px
}
.slider-content.classic p {
    font-size: 20px;
    color: #eee;
    padding-bottom: 40px;
    font-weight: 300
}
.slider-content.classic .btn.hero_btn {
    color: #fff;
    background: #222;
    width: 200px
}
.btn.xplus-btn.hero-slider_btn {
    color: #fff;
    width: 200px;
    height: 55px;
    line-height: 55px
}
.btn.xplus-btn.hero-slider_btn_outline {
    background: none;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    width: 180px;
    height: 58px;
    line-height: 55px;
    font-size: 17px;
    font-weight: 500
}
a#slide-411-layer-13,
a#slide-412-layer-13,
a#slide-413-layer-13 {
    -webkit-transition: .4s !important;
    transition: .4s !important
}
#home .imageblock_content_img {
    position: relative
}
.home-video h3 {
    font-size: 48px;
    line-height: 55px;
    padding-bottom: 20px
}
.home-video h3 {
    font-size: 48px;
    line-height: 55px;
    padding-bottom: 20px
}
.home-video p {
    font-size: 18px;
    line-height: 30px
}
@media (max-width: 767px) {
    .hero-slide.home-video.fixed-width {
        display: block;
        text-align: center;
        margin-top: 120px
    }
    .slider-content {
        padding-bottom: 50px
    }
}
.banner-typewriter {
    background-image: url(images/banner-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 40%
}
.slider-content.typewriter h1 {
    color: #fff;
    font-size: 60px;
    line-height: 46px;
    font-weight: 500;
    padding-bottom: 30px
}
.slider-content.typewriter h4 {
    color: #ddd;
    line-height: 30px;
    font-weight: 400
}
.banner-typewriter .hero-slide {
    height: 100vh;
    text-align: center
}
@media (max-width: 767px) {
    .slider-content.typewriter h1 {
        font-size: 36px
    }
    .slider-content.typewriter p {
        font-size: 18px
    }
}
@media (max-width: 500px) {
    .slider-content.typewriter h1 {
        font-size: 30px;
        line-height: 30px
    }
}
.banner-typewriter-2 {
    background-image: url(images/banner-3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 60% 60%
}
.slider-content.typewriter-2 h1 {
    color: #333;
    font-size: 80px;
    line-height: 36px;
    padding-bottom: 40px
}
.banner-typewriter-2 .hero-slide {
    height: 100vh;
    text-align: center;
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    text-align: left
}
.slider-content.typewriter-2 p {
    text-align: left;
    font-size: 24px
}
.slider-content.typewriter-2 {
    max-width: 95%
}
@media (max-width: 767px) {
    .slider-content.typewriter-2 h1 {
        font-size: 46px;
        font-weight: 300;
        padding-bottom: 20px
    }
    .slider-content.typewriter-2 p {
        font-size: 18px
    }
}
@media (max-width: 500px) {
    .slider-content.typewriter-2 h1 {
        font-size: 30px;
        line-height: 30px
    }
}
.cd-title {
    position: relative;
    height: 160px;
    line-height: 230px;
    text-align: center
}
.cd-title h1 {
    font-size: 2.4rem;
    font-weight: 700
}
@media only screen and (min-width: 768px) {
    .cd-title {
        line-height: 250px
    }
}
@media only screen and (min-width: 1170px) {
    .cd-title {
        height: 200px;
        line-height: 300px
    }
    .cd-title h1 {
        font-size: 3rem
    }
}
.cd-intro {
    width: 90%;
    max-width: 768px;
    text-align: center
}
.cd-intro {
    margin: 4em auto
}
@media only screen and (min-width: 768px) {
    .cd-intro {
        margin: 5em auto
    }
}
@media only screen and (min-width: 1170px) {
    .cd-intro {
        margin: 6em auto
    }
}
.cd-headline {
    font-size: 3rem;
    line-height: 1.2
}
@media only screen and (min-width: 768px) {
    .cd-headline {
        font-size: 4.4rem;
        font-weight: 300
    }
}
@media only screen and (min-width: 1170px) {
    .cd-headline {
        font-size: 6rem
    }
}
.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left
}
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0
}
.cd-words-wrapper b.is-visible {
    position: relative
}
.no-js .cd-words-wrapper b {
    opacity: 0
}
.no-js .cd-words-wrapper b.is-visible {
    opacity: 1
}
.cd-headline.rotate-1 .cd-words-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px
}
.cd-headline.rotate-1 b {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
}
.cd-headline.rotate-1 b.is-visible {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-animation: cd-rotate-1-in 1.2s;
    animation: cd-rotate-1-in 1.2s
}
.cd-headline.rotate-1 b.is-hidden {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-animation: cd-rotate-1-out 1.2s;
    animation: cd-rotate-1-out 1.2s
}
@-webkit-keyframes "cd-rotate-1-in" {
    0% {
        -webkit-transform: rotateX(180deg);
        opacity: 0;
    }
    35% {
        -webkit-transform: rotateX(120deg);
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(360deg);
        opacity: 1;
    }
}
@keyframes "cd-rotate-1-in" {
    0% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }
    35% {
        -webkit-transform: rotateX(120deg);
        transform: rotateX(120deg);
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
        opacity: 1;
    }
}
@-webkit-keyframes "cd-rotate-1-out" {
    0% {
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }
    35% {
        -webkit-transform: rotateX(-40deg);
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(180deg);
        opacity: 0;
    }
}
@keyframes "cd-rotate-1-out" {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
    35% {
        -webkit-transform: rotateX(-40deg);
        transform: rotateX(-40deg);
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }
}
.cd-headline.loading-bar span {
    display: inline-block;
    padding: .2em 0
}
.cd-headline.loading-bar .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top
}
.cd-headline.loading-bar .cd-words-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    z-index: 2;
    -webkit-transition: width 0.3s -0.1s;
    transition: width 0.3s -0.1s
}
.cd-headline.loading-bar .cd-words-wrapper.is-loading::after {
    width: 100%;
    -webkit-transition: width 3s;
    transition: width 3s
}
.cd-headline.loading-bar b {
    top: .2em;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s
}
.cd-headline.loading-bar b.is-visible {
    opacity: 1;
    top: 0
}
.align_middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.align_col-middle {
    -ms-flex-flow: column;
    flex-flow: column
}
.imageblock_content {
    padding-top: 100px
}
.imageblock_content_img {
    background: #222;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12)
}
.imageblock_content h3 {
    padding-bottom: 30px
}
.imageblock_content p {
    font-size: 15px
}

/*
************************************************
         == About/ Skill CSS ==
************************************************
*/

.about_us_area {
    padding-bottom: 80px;
    border-bottom: 1px solid #ddd
}
.about_content h3 {
    padding-bottom: 30px
}
.about_content p {
    line-height: 30px;
    max-width: 85%;
    font-size: 15px
}
.skill_title h3 {
    margin-bottom: 16px
}
.skill_title p {
    margin-top: 18px;
    padding-bottom: 5px
}
.skill p {
    padding-bottom: 5px
}
.skill_countdown {
    float: right;
    margin-right: 15px;
    position: relative
}
.skill_countdown:after {
    position: absolute;
    content: "%";
    left: 18px;
    top: 0;
    width: 100%;
    height: 100%
}
.skill_countdown_1 {
    float: right;
    margin-right: 15px;
    position: relative
}
.skill_countdown_1:after {
    position: absolute;
    content: "%";
    left: 18px;
    top: 0;
    width: 100%;
    height: 100%
}
.custom_progress.custom_progress_bar {
    border-radius: 50px
}
.custom_progress_bar {
    background-color: #444;
    border-radius: 50px
}
.custom_progress {
    height: 3px
}
.skill.blod .custom_progress {
    height: 8px
}
.imageblock_content_img.video {
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-flow: row;
    flex-flow: row
}
.youtube-video .embed-responsive {
    border-radius: 10px
}
.about-video {
    background: #F8F8F8;
    border-top: 1px solid #ddd;
    padding: 100px 0
}

/*
************************************************
         == Service CSS==
************************************************
*/

section.servie_area {
    padding: 90px 0 105px
}
.service_section_title h3 {
    padding-bottom: 25px
}
.service_section_title p {
    max-width: 450px;
    font-size: 16px;
    line-height: 30px
}
.service_icon_info,
.service_icon_info_top {
    border: 1px solid #ddd;
    height: 216px;
    text-align: center
}
.service_icon_info:nth-child(2),
.service_icon_info:nth-child(4),
.service_icon_info:nth-child(3),
.service_icon_info:nth-child(5) {
    border-left: none
}
.service_icon_info_top:nth-child(2) {
    border-right: none;
    margin-left: -1px;
    margin-bottom: -1px
}
.service_icon_info_top {
    margin: 12px 0 -2px 0px;
    position: relative
}
.service_icon_info {
    position: relative
}
.service_icon_info .service-overlay,
.service_icon_info_top .service-overlay {
    width: 295px;
    position: absolute;
    overflow: hidden;
    margin: -55px -2px;
    top: 0px;
    left: 0;
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    text-align: center;
    padding-top: 45px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 15px 45px 0px;
    z-index: 1
}
.service_icon_info:hover .service-overlay,
.service_icon_info_top:hover .service-overlay {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
}
.service_icon {
    padding-top: 55px
}
.service_icon span {
    color: #333333;
    font-size: 48px
}
.service_icon h5 {
    color: #333333;
    font-size: 16px;
    margin-top: 30px
}
.service-overlay h5 {
    color: #fff;
    font-size: 16px;
    margin-top: 30px
}
.service-overlay p {
    max-width: 230px;
    margin: 25px auto 0 auto;
    color: #eee;
    padding-bottom: 45px
}
.service-overlay span {
    font-size: 48px
}
.service_icon_info:hover .service-overlay:hover,
.service-overlay span,
.service_icon_info_top:hover .service-overlay span {
    color: #fff
}
.servie_area-2 .section_title {
    padding-bottom: 70px
}
.servie_area-2 .service_text h3 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 300
}
.servie_area-2 i {
    font-size: 40px
}
.servie_area-2 .service_icon {
    float: left;
    padding-top: 0
}
.servie_area-2 .service_text {
    padding-left: 75px;
    padding-bottom: 60px
}
.servie_area-2.service-3 {
    border-bottom: 0
}
.service-3 .service_icon {
    float: none;
    display: inline-block
}
.service-3 .service_text {
    padding-left: 0;
    padding-bottom: 60px;
    padding-top: 25px;
    max-width: 300px
}
.service-4 .service_content {
    border: 1px solid#eee;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 5px;
    min-height: 380px
}
.service-4 .service_content:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.20)
}
.service-4 .service_content:hover h3,
.service-4 .service_content:hover i {
    color: #fff
}
.service-4 .service_content:hover p {
    color: #eee
}
.service-4.hover-border .service_content:hover {
    background: none;
    color: #888;
    -webkit-transform: none;
    transform: none;
    box-shadow: none
}
.service-4.hover-border .service_content:hover p {
    color: #888
}
.service-4.hover-border .service_content:hover h3,
.service-4.hover-border .service_content:hover i {
    color: #333
}
.service-4 {
    padding-bottom: 30px
}
.service-4.pb-50 {
    padding-bottom: 50px
}
.service-4 .service_text {
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 30px;
    padding-right: 30px
}
.service-4 .service_icon {
    float: none;
    display: inline-block;
    padding-top: 0
}
.service-5 {
    background-size: cover;
    background-repeat: no-repeat;
    background: url(images/service-bg.jpg)90% fixed;
    position: relative
}
.service-5 h3 {
    color: #fff
}
service-5 .section_title h3 {
    color: #ddd
}
.service-5 .service_text p {
    color: #aaa
}
.service-5 .service_content {
    text-align: center
}
.service-5 .service_icon {
    float: none;
    padding-top: 0;
    padding-bottom: 30px
}
.service-5 .service_text {
    padding-left: 0;
    padding-bottom: 60px
}

/*
************************************************
         ==Features CSS==
************************************************
*/

.features_area {
    padding: 100px 0 50px
}
.features_text {
    padding-left: 100px;
    padding-bottom: 40px
}
.features_icon {
    float: left;
    color: #ffffff;
    font-size: 28px;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    text-align: center
}
.features_icon i {
    line-height: 75px
}
.features_text h3 {
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 300
}
.features_text p {
    font-size: 16px
}


/*
************************************************
         ==Start Portfolio CSS==
************************************************
*/

.no-padding {
    padding: 0 !important
}
#portfolio {
    background: #f8f8f8
}
.portfolio_section_padding {
    padding-bottom: 80px
}
.portfolio-filter {
    background: none;
    box-shadow: none;
    line-height: 0;
    margin-bottom: 70px;
    padding: 0
}
.portfolio-filter li {
    padding: 0 15px;
    display: inline-block
}
.portfolio-filter li a {
    padding: 5px;
    color: #333;
    font-weight: 500
}
.portfolio-filter li.active {
    background: none;
    border-radius: 0;
    box-shadow: none
}
.portfolio-filter li.active a {
    border-bottom: 3px solid #333;
    color: #666
}
.grid {
    margin: 0 auto
}
.grid li {
    box-sizing: border-box;
    float: left;
    margin: 0;
    width: 25%;
    display: inline-table;
    transition-duration: 0s;
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s
}
.grid img {
    width: 100%
}
.grid-gallery {
    clear: both;
    float: left;
    width: 100%
}
.grid-gallery ul {
    list-style: none;
    padding: 0
}
.grid-gallery figure {
    margin: 0;
    position: relative
}
.grid-gallery figure img {
    display: block;
    width: 100%;
    opacity: 1
}
.grid-gallery figcaption h3 {
    margin: 0 0 5px;
    padding: 0
}
.grid-gallery figcaption h3 a,
.grid-gallery figcaption h3 {
    font-size: 16px;
    font-weight: 500;
    color: #eee
}
.grid-gallery figcaption p a,
.grid-gallery figcaption p {
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: #aaa;
    margin-bottom: 0
}
.grid figure {
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s
}
.grid figcaption {
    top: 50%;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}
.grid-gallery figcaption i {
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
    padding: 0 5px;
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(2.5);
    position: relative;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s
}
.grid figure:hover figcaption i {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}
.gallery-img {
    opacity: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    position: relative
    width: 370px;
    height: 190px;
    padding: 28px
}
.grid figure:hover .gallery-img {
    background-color: #000
}
.no-hover figure:hover .gallery-img {
    background-color: transparent
}
.thumbnail-image {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 0.15
}
.no-hover figure:hover img {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}
figure:hover img {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    opacity: 0.15
}
.grid figure:hover figcaption {
    opacity: 1;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}
.work-2col .grid li {
    float: left;
    width: 50%
}
.work-3col .grid li {
    float: left;
    width: 33.33%
}
.gutter .grid-gallery ul {
    margin-left: -18px
}
.gutter .grid li {
    padding-bottom: 18px;
    padding-left: 18px
}
.grid figure .action-btn i {
    color: #fff;
    opacity: 0;
    padding: 0 5px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s
}
.grid figure:hover .action-btn i {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}
figure .action-btn i:hover {
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
.grid figcaption {
    margin-top: -50px
}
.work-with-title .grid figcaption {
    opacity: 1;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    background: rgba(255, 255, 255, 1);
    z-index: 2
}
.action-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.action-btn a {
    z-index: 2;
    font-size: 50px;
    position: absolute;
    top: 35%
}
.work-with-title .grid li figcaption h3,
.work-with-title .grid figcaption h3 a {
    color: #333
}
.work-with-title .grid figcaption h3 a {
    display: block
}
.work-with-title .grid li:hover figcaption h3,
.work-with-title .grid li:hover figcaption h3 a {
    color: #000
}
.work-with-title .grid figcaption {
    padding: 30px 0 20px 0
}
.work-2col.work-with-title .grid figcaption {
    padding: 50px 0 45px 0
}
.p-hover-white .grid-gallery figcaption h3 a {
    color: #333
}
.p-hover-white .grid-gallery figcaption p {
    color: #333
}
.p-hover-white .grid figure:hover .gallery-img {
    background-color: #fff
}
.p-hover-white figure:hover img {
    opacity: 0.05
}
.load-more {
    font-size: 15px;
    color: #333;
    font-weight: 500;
    margin-top: 40px
}


/*
************************************************
         == Working Process CSS Start ==
************************************************
*/

#portfolio {
    padding: 90px 0 95px
}
.working_process {
    margin: 95px 0 90px;
    position: relative;
    z-index: 1
}
.working_process:after {
    position: absolute;
    content: "";
    left: 0;
    top: 39px;
    width: 100%;
    height: 100%;
    border-top: 1px solid #ddd;
    z-index: -1
}
.tabs {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 380px;
    border-radius: 8px 8px 0 0
}
.tabby-tab {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}
.tabby-tab label {
    display: block;
    box-sizing: border-box;
    height: 40px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
    color: #333333;
    font-size: 16px
}
.tabby-content {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 50px;
    padding: 20px;
    -webkit-transition: opacity 0.8s ease, -webkit-transform 0.8s ease;
    transition: opacity 0.8s ease, -webkit-transform 0.8s ease;
    transition: opacity 0.8s ease, transform 0.8s ease;
    transition: opacity 0.8s ease, transform 0.8s ease, -webkit-transform 0.8s ease;
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transform-origin: top left;
    transform-origin: top center
}
.tabby-content p {
    float: left;
    max-width: 400px;
    margin-top: 90px;
    font-size: 16px;
    line-height: 30px
}
.tabby-content img {
    float: right;
    margin-top: 45px;
    box-shadow: 0 15px 37px rgba(0, 0, 0, 0.15)
}
.tabby-tab [type=radio] {
    display: none
}
[type=radio]:checked ~ label {
    z-index: 2;
    border-bottom: 1px solid #333333
}
[type=radio]:checked ~ label ~ .tabby-content {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}
@media screen and (max-width: 767px) {
    .tabs {
        min-height: 400px
    }
}

/*
************************************************
         == Promo Cta Start ==
************************************************
*/

.promo_cta_area {
    padding: 60px 0
}
.promo_title h3 {
    color: #ffffff;
    font-size: 31px;
    font-weight: 300;
    padding-bottom: 5px
}
.promo_title p {
    color: #ddd;
    font-weight: 300;
    font-size: 15px
}

/*
************************************************
         == FAQ CSS Start ==
************************************************
*/
.faq-wrapper > h3 {
    color: #333;
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    margin-top: -6px;
    margin-bottom: 28px;
    text-transform: capitalize
}
.faq-wrapper .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none
}
.faq-wrapper .panel-heading {
    padding-top: 3px;
    padding-left: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #e7e9ef;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0
}
.faq-section .panel-title > a {
    line-height: 28px
}
.faq-section .panel-title > a span {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    padding-left: 20px
}
.faq-section i {
    position: absolute;
    font-size: 22px;
    margin-top: 5px
}
.faq-section .panel-body {
    border-left: 0 none !important;
    border-right: 0 none !important;
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 0
}
.faq-section .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-left: 0 none !important;
    border-right: 0 none !important
}
.panel-title a[aria-expanded^="true"] i {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

/*
************************************************
         == Image Carousel Start ==
************************************************
*/

.section-image-slider .owl-dots {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    bottom: -17px
}
.section-image-slider .owl-dot {
    width: 10px;
    height: 10px;
    border: 2px solid #999;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%
}
.section-image-slider .owl-controls i {
    background: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px
}
.section-image-slider .owl-next,
.section-image-slider .owl-prev {
    position: absolute;
    top: 35%
}
.section-image-slider .owl-next {
    right: -55px;
    box-shadow: rgba(0, 0, 0, .15) 1px 1px 5px;
    border-radius: 50px
}
.section-image-slider .owl-prev {
    left: -55px;
    box-shadow: rgba(0, 0, 0, .15) -1px 1px 5px;
    border-radius: 50px
}
.section-image-slider .owl-nav {
    opacity: 0
}
.section-image-slider:hover .owl-nav {
    opacity: 1
}


/*
************************************************
         == Team CSS Start ==
************************************************
*/

.team_section_title {
    padding-bottom: 75px
}
.team_area {
    padding: 90px 0 130px;
    background: #f8f8f8
}
.team_member {
    position: relative;
    overflow: hidden
}
.member_content h4,
.member_content_overlay h4 {
    color: #333333;
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 500
}
.member_role {
    color: #7e7e7e;
    font-size: 13px;
    line-height: 0px
}
.team_icon {
    left: 95%;
    font-size: 22px;
    margin-top: -25px;
    position: absolute;
    margin-left: -50px;
    background: #FFFFFF;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%
}
.team-close-icon {
    left: -100%;
    font-size: 22px;
    margin-top: -25px;
    position: absolute;
    margin-left: -50px;
    background: #FFFFFF;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
    z-index: 99
}
.team_icon i,
.team-close-icon i {
    line-height: 54px
}
.team-close-icon a {
    display: block
}
.team_icon a {
    color: #666;
    display: block;
    border-radius: 50%
}
.member_content {
    background: #fff;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    text-align: left
}
.member_img img {
    width: 100%
}
.member_toggle {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    left: -100%;
    opacity: 0;
    top: 0;
    padding-top: 40px
}
.member_text {
    max-width: 250px;
    margin: auto
}
.member_content_overlay {
    border-top: 1px solid #EAEAEA;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-top: 57px
}
ul.member_social {
    padding-top: 30px;
    padding-left: 20px
}
.member_social li {
    display: inline-block
}
.member_social li a {
    display: block;
    color: #7e7e7e;
    font-size: 16px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center
}
.member_social li a i {
    line-height: 40px
}
.member_social li a:hover {
    color: #fff
}
.team_carousel .owl-controls {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    bottom: -50px
}
.team_carousel .owl-dot {
    width: 10px;
    height: 10px;
    border: 2px solid #999;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%
}
.team_area-2 .team_mamber {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 10px
}
.team_area-2 .team-item-detail {
    padding: 25px
}
.team_area-2 .team-item-detail h4 {
    letter-spacing: 1px;
    line-height: 30px
}
.team_area-2 .team-item-detail span {
    font-size: 12px;
    letter-spacing: 1px;
    color: #888
}
.team_area-2 .team-item-detail hr {
    margin: 12px 0
}


/*
************************************************
         == Testimonial CSS Start ==
************************************************
*/

.testimonial_area {
    background-attachment: fixed;
    background-size: cover;
    padding: 80px 0 90px
}
.testimonial-2 {
    padding: 95px 0 110px
}
.testimonial_img {
    width: 80px;
    margin: 0 auto;
    height: 80px;
    overflow: hidden
}
.testimonial_title h4 {
    color: #ffffff;
    font-size: 16px;
    margin: 18px 0 3px
}
.testimonial_title span {
    color: #ddd;
    font-size: 12px
}
.testimonial_info {
    margin: 28px 0 35px
}
.testimonial_info p {
    color: #eeeeee;
    max-width: 770px;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    font-style: italic;
    letter-spacing: .3px
}
.testimonial_content .owl-controls {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    bottom: -20px
}
.testimonial_content .owl-dot.active {
    background: #fff;
    width: 30px;
    height: 10px;
    border-radius: 50px
}
.testimonial_content .owl-dot {
    background: rgba(255, 255, 255, 0.25);
    display: inline-block;
    margin: 0 5px;
    width: 22px;
    height: 10px;
    border-radius: 50px
}
.testimonial_content .owl-dot span {
    padding-right: 10px;
    padding-top: 10px
}
.testimonial_area.testimonial-2.testimonial-2 {
    background: #fff
}
.testimonial-2 .testimonial_info p {
    color: #666
}
.testimonial-2 .testimonial_title h4 {
    color: #333
}
.testimonial-2 .testimonial_title span {
    color: #888
}
.testimonial-2 .owl-dot {
    background: #ddd
}

/*
************************************************
         == Our Client CSS Start ==
************************************************
*/

.client_area {
    padding: 90px 0 105px
}
.client_section_title {
    margin-bottom: 72px
}
.client_bg {
    text-align: center;
    position: relative
}
.client_img_creative img {
    padding-top: 15px;
    max-width: 170px;
}
.client_bg:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}
.client_bg:nth-child(2):after,
.client_bg:nth-child(3):after,
.client_bg:nth-child(5):after,
.client_bg:nth-child(6):after,
.client_bg:nth-child(8):after,
.client_bg:nth-child(9):after,
.client_bg:nth-child(11):after,
.client_bg:nth-child(12):after
 {
    border-left: 1px solid #
}
.client_bg:nth-child(1),
.client_bg:nth-child(2),
.client_bg:nth-child(3),
.client_bg:nth-child(4),
.client_bg:nth-child(5),
.client_bg:nth-child(6)
 {
    padding-bottom: 45px
}
.client_bg:nth-child(4),
.client_bg:nth-child(5),
.client_bg:nth-child(6),
.client_bg:nth-child(7),
.client_bg:nth-child(8),
.client_bg:nth-child(9),
.client_bg:nth-child(10),
.client_bg:nth-child(11),
.client_bg:nth-child(12) {
    padding-top: 45px
}

.testimonial_title_top {
    padding-bottom: 75px
}
.client_area-2 {
    background: #fff;
    padding: 70px 0
}
.client_img {
    text-align: center
}
.client_area-2 .owl-carousel .owl-item img {
    display: initial
}


/*
************************************************
         == Pricing CSS Strat ==
************************************************
*/

#pricing_table {
    background: #f8f8f8
}
.pricing_title {
    padding-bottom: 70px
}
.pricing_table {
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px
}
.package-price {
    font-size: 26px;
    color: #fff;
    border-radius: 55px;
    height: 110px;
    width: 110px;
    padding-top: 21px;
    margin: 0 auto;
    position: relative
}
.package_title p {
    font-size: 22px;
    letter-spacing: 0;
    font-weight: 500;
    color: #888;
    padding: 40px 0 20px
}
span.currency-symbol {
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 27px;
    margin-top: 22px
}
span.price {
    font-size: 20px;
    display: inline-block
}
span.duration {
    font-size: 13px;
    display: block
}
ul.price_feature {
    padding: 20px 50px 35px 50px
}
.price_feature li {
    padding: 18px 0;
    font-size: 15px;
    border-bottom: 1px solid #eee;
    color: #888
}
.section_title-2.pricing_title {
    padding-bottom: 75px

}
.pricing-2 .package_title {
    padding-top: 20px;
    border-bottom: 1px solid #eee
}
.pricing-2 .package-price {
    background: none
}
.pricing-2 .currency-symbol {
    margin-left: 5px;
    margin-top: 28px
}
.pricing-2 .price {
    font-size: 20px;
    font-weight: 300
}
.pricing-2 .duration {
    color: #888;
    line-height: 2px
}
.pricing-2 .package_title p {
    color: #333;
    font-size: 16px;
    padding: 5px 0 0px
}
.pricing-2 ul.price_feature {
    padding: 0 0px 35px 0
}
.pricing-2 .price_feature li {
    padding: 20px 0;
    font-size: 14px;
    color: #333;
    font-weight: 400
}
.pricing-2 .pricing_table.active {
    box-shadow: none
}

/*
************************************************
         == Facts CSS Start ==
************************************************
*/

.facts-title {
    padding-bottom: 140px
}
.facts-headding h2 {
    color: #fff;
    line-height: 42px;
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 40px;
    text-transform: uppercase
}
.facts_area {
    background: url(images/facts.jpg) 90% no-repeat fixed;
    position: relative;
    padding: 75px 0
}
.facts_area.no-fixed {
    background: url(images/facts.jpg) 90% no-repeat;
    position: relative;
    padding: 75px 0
}
.counts {
    color: #fff;
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 600
}
.count_text {
    text-align: left
}
.count_text p {
    color: #ddd;
    font-size: 20px
}
.facts_area-2 {
    background: #232328;
    padding: 70px 0
}
.facts_area-2 .single_count,
.facts_area-2 .count_text {
    text-align: center
}
.facts_area-2 .counts {
    font-size: 30px;
    font-weight: 500
}
.facts_area-2 .count_text p {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase
}


/*
************************************************
         ==  Newsletter CSS Strat ==
************************************************
*/


.subscribe_area {
    padding: 100px 0 80px
}
.subscribe_info h3 {
    font-size: 32px;
    color: #fff;
    padding-top: 10px;
    font-weight: 300
}
form.subscribe-form i {
    color: #bbb;
    font-size: 14px;
    position: absolute;
    top: 19px;
    left: 15px
}
#mailchimp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.subscribe-form {
    display: inline-block;
    position: relative
}
input.wid-subscribe {
    color: #888;
    height: 60px;
    width: 345px;
    padding-left: 48px;
    border: 0;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: none
}
input.wid-subscribe[type=email]:focus:not([readonly]) {
    outline: 0;
    box-shadow: none
}
input.wid-signup {
    color: #f8f8f8;
    font-size: 15px;
    border: 2px solid #fff;
    height: 60px;
    width: 155px;
    margin: 0 0 0 -7px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: inherit
}
form.subscribe-form i {
    color: #bbb;
    font-size: 14px;
    position: absolute;
    top: 22px;
    left: 15px;
    margin: 0px
}
.sub-confirmation {
    color: #fff;
    padding-top: 20px;
    font-size: 18px
}


/*
************************************************
         == Blog CSS Start ==
************************************************
*/

.blog_area {
    padding: 90px 0 30px;
    background: #f8f8f8
}
.blog_area.pb-70 {
    padding-bottom: 70px
}
.blog_section_title {
    margin-bottom: 70px
}
.blog_single_post {
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
    border-radius: 5px
}
.blog_single_post img {
    width: 100%
}
.blog_details {
    background: #fff;
    padding: 38px 25px 30px 25px
}
.blog_details a {
    color: #333333;
    font-size: 18px;
    font-weight: 600
}
.blog_details p {
    padding: 10px 0 20px;
    color: #7e7e7e;
    font-size: 15px;
    margin-top: 6px
}
a.read-more {
    font-size: 14px;
    font-weight: 500
}
.blog-body blockquote {
    margin: 20px 0 10px
}
.blog-area-2 {
    background: #f8f8f8;
    padding: 90px 0 60px
}
.section_title-2.blog_section_title {
    padding: 0
}
.blog_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
    background: #fff
}
.blog_item_big .blog_content {
    max-width: 75%
}
.blog_content {
    max-width: 280px;
    margin-left: 30px;
    padding-right: 30px
}
ul.blog_content_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0
}
.blog_content_info li {
    padding-right: 25px
}
.blog_content_info li i {
    padding-right: 6px
}
.blog_content_info li a {
    color: #888
}
.blog_content h4 {
    color: #333
}
.blog_content p {
    padding-bottom: 15px
}
a.read-more {
    color: #333
}


/*
************************************************
         == Video CSS ==
************************************************
*/

.video_area {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(images/video-overlay.jpg)90% fixed
}
a.play-btn i {
    color: #ffffff;
    font-size: 34px;
    line-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50px
}
.video_content h3 {
    color: #fff;
    display: inline-block;
    padding: 0 20px
}
.imageblock_content_img.video i.zmdi.zmdi-play-circle {
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 60px;
    text-align: center;
    line-height: 0%;
    color: #fff
}
.YouTubePopUp-Wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 9999999999999;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUp;
    animation-name: YouTubePopUp
}
@-webkit-keyframes "YouTubePopUp" {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes "YouTubePopUp" {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
body.logged-in .YouTubePopUp-Wrap {
    top: 32px;
    z-index: 99998
}
.YouTubePopUp-Content {
    max-width: 680px;
    display: block;
    margin: 0 auto;
    height: 100%;
    position: relative
}
.YouTubePopUp-Content iframe {
    max-width: 100% !important;
    width: 100% !important;
    display: block !important;
    height: 480px !important;
    border: none !important;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0
}
.YouTubePopUp-Hide {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUpHide;
    animation-name: YouTubePopUpHide
}
@-webkit-keyframes "YouTubePopUpHide" {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes "YouTubePopUpHide" {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.YouTubePopUp-Close {
    position: absolute;
    top: 0;
    cursor: pointer;
    bottom: 528px;
    right: 0px;
    margin: auto 0;
    width: 24px;
    height: 24px;
    background: url(../images/youtube_close.png) no-repeat;
    background-size: 24px 24px;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px
}
.YouTubePopUp-Close:hover {
    opacity: 0.5
}
@media all and (max-width: 768px) and (min-width: 10px) {
    .YouTubePopUp-Content {
        max-width: 90%
    }
}
@media all and (max-width: 600px) and (min-width: 10px) {
    .YouTubePopUp-Content iframe {
        height: 320px !important
    }
    .YouTubePopUp-Close {
        bottom: 362px
    }
}
@media all and (max-width: 480px) and (min-width: 10px) {
    .YouTubePopUp-Content iframe {
        height: 220px !important
    }
    .YouTubePopUp-Close {
        bottom: 262px
    }
}

/*
************************************************
         == Contact Us ==
************************************************
*/


.contact_area {
    padding: 100px 0 40px
}
.contact_title h3 {
    padding-bottom: 70px;
    font-size: 30px
}
form.wpcf7-form {
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .25);
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px
}
.contact_area i {
    font-size: 17px;
    background: #ffffff;
    text-align: center;
    float: left;
    height: 38px;
    width: 38px;
    line-height: 38px;
    border-radius: 50px;
    margin-right: 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .25)
}
.contact_area i.fa.fa-envelope {
    font-size: 14px
}
.contact-info p {
    padding-bottom: 6px;
    font-size: 15px
}
.contact-info {
    padding-bottom: 40px
}
.wpcf7-form-control {
    border: none;
    border-color: #ddd;
    width: 100%;
    margin: 0 0 35px 0;
    box-shadow: 0 1px 0px 0px #ddd;
    background: transparent
}
.pro-contact-form label {
    color: #888;
    font-weight: 400;
    font-size: 13px
}
.wpcf7-textarea {
    resize: vertical
}
input.wpcf7-form-control:focus,
.wpcf7-textarea:focus {
    outline: none;
    box-shadow: 0 2px 0px 0px rgb(152, 189, 41);
    border: none
}
.wpcf7-submit {
    width: 170px;
    height: 55px;
    color: #eee;
    border-radius: 4px
}
.wpcf7-submit:hover {
    background: #333
}
.section_title-2 {
    padding-bottom: 80px
}
.contact-2 .single-contact-info {
    text-align: center
}
.contact_area.contact-2 i {
    float: none;
    margin-bottom: 20px;
    margin-right: 0;
    height: 65px;
    width: 65px;
    line-height: 65px;
    font-size: 22px;
    color: #fff;
    box-shadow: none
}
.contact_area.contact-2 i.fa.fa-envelope {
    font-size: 16px
}
.contact-2 h5 {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: .5px;
    text-transform: uppercase
}
.contact-2 p {
    font-weight: 300;
    letter-spacing: .5px
}
.contact-2 .contact_title h3 {
    text-align: center
}
.contact-2 {
    padding: 90px 0 40px
}
.contact-2 form.wpcf7-form {
    box-shadow: none
}
.contact-2 .wpcf7-form-control {
    border: 1px solid #ddd;
    box-shadow: none;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px
}
.contact-2 input.wpcf7-form-control:focus,
.contact-2 .wpcf7-textarea:focus {
    box-shadow: none
}
.contact-2 .wpcf7-form-control.wpcf7-submit {
    padding: 0
}
.contact-2 form.wpcf7-form {
    padding-bottom: 0
}

/*
************************************************
         == Google Map CSS Start ==
************************************************
*/

#google_map {
    height: 250px;
    margin-top: 60px
}
#google_map.map_big {
    height: 450px;
    margin-top: 20px
}


/*
************************************************
         == Footer CSS Start ==
************************************************
*/

.footer_area {
    background: #232328;
    padding-top: 60px
}
.footer_logo {
    padding-top: 15px
}
.footer_menu,
.footer_left_icon {
    margin-top: 18px
}
.footer_left_icon {
    float: right
}
.footer_menu {
    text-align: center
}
.footer_menu li {
    display: inline;
    position: relative;
    padding-right: 40px
}
.footer_menu li a {
    color: #eeeeee;
    display: inline-block;
    font-size: 14px
}
.footer_menu li:after {
    position: absolute;
    content: "";
    right: 12px;
    top: 8px;
    height: 1px;
    border-left: 4px solid #eeeeee
}
.footer_menu li:last-child:after {
    border-left: none
}
.footer_left_icon {
    padding: 0
}
.footer_left_icon li {
    padding-right: 4px;
    display: inline-block
}
.footer_left_icon li a {
    color: #fff;
    text-align: center;
    height: 32px;
    width: 32px;
    display: inline-block;
    border-radius: 50%
}
.footer_left_icon li a i {
    line-height: 32px
}
.footer_left_icon li {
    font-size: 15px
}
.bottom_footer {
    margin-top: 60px;
    padding: 15px 0;
    background: #1D1D21
}
.bottom_footer p {
    color: #666;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500
}
.footer-2 {
    text-align: center
}
.footer-2 .footer_left_icon {
    float: none;
    margin: 25px 0 0
}
span.scroll_top_up {
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 30px;
    bottom: 17px;
    border-radius: 3px
}
span.scroll_top_up i {
    line-height: 40px
}
.scroll_top_up {
    position: fixed;
    z-index: 999
}
.single-blog-post {
    padding-bottom: 50px
}
.single-blog-post img {
    width: 100%
}
.blog-title {
    padding-top: 130px;
    padding-bottom: 100px
}
.blog-title h2 {
    padding-bottom: 15px
}
.blog-title h5 {
    font-size: 15px;
    font-weight: 400;
    color: #888;
    line-height: 28px;
    max-width: 50%;
    margin: 0 auto
}
.blog-body a {
    color: #333
}
.single-blog-post h5 {
    padding-top: 30px
}
.single-blog-post a {
    font-weight: 500
}
.single-blog-post p {
    padding-bottom: 5px
}
.widget-search {
    padding-bottom: 90px
}
.widget-area li a {
    color: #888
}
.widget-item {
    padding-left: 0;
    padding-bottom: 20px
}
.widget-item li {
    padding: 16px 0;
    border-bottom: 1px solid #eee
}
.widget-item li:last-child {
    border-bottom: 0
}
.form-control {
    height: 50px;
    position: absolute;
    color: #888;
    border: 1px solid #888888;
    border-radius: 0
}
.widget-area button {
    position: absolute;
    right: 0;
    top: 12px;
    border: none;
    background: none;
    font-size: 18px;
    color: #888
}
.widget-area button:focus {
    border: none;
    outline: none
}
.pagination li:first-child a {
    background: #2196f3;
    color: #fff
}
.pagination>li {
    display: inline-block
}
.pagination>li a {
    border: 1px solid #ddd;
    color: #333;
    border-radius: 0
}
.pagination>li a:hover {
    color: #fff !important
}
.pagination>li:first-child>a,
.pagination>li:last-child>a {
    border-radius: 0
}
.pagination {
    margin: 25px 0 105px
}
.single-post h3 {
    padding-top: 50px;
    padding-bottom: 20px
}
ul.catag li {
    display: inline-block
}
.post-bottom-info {
    padding-top: 40px;
    padding-bottom: 115px
}
.catag {
    font-size: 14px;
    font-weight: 500;
    padding-left: 0;
    display: initial
}
.catag li a {
    color: #666;
    font-weight: 400
}
.catag:first-child {
    padding-right: 30px
}
.project-title {
    padding-top: 140px
}
.page-title h5 {
    padding: 30px 0 10px;
    font-size: 16px;
    font-weight: 400;
    color: #777;
    line-height: 26px
}
ul.project-info {
    padding: 0 25px 50px
}
.project-info li {
    display: inline-block
}
.project-info li span {
    color: #333
}
.project-info li p {
    font-size: 16px;
    font-weight: 500
}
.project-img img {
    width: 100%
}
.container-hlaf img {
    width: 50%
}
.container-hlaf {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px
}
.container-hlaf img:nth-child(odd) {
    padding-right: 5px;
    float: left
}
.container-hlaf img:nth-child(even) {
    float: right;
    padding-left: 5px
}

/*========================================================
Call to Action
========================================================*/

.call-to-action {
    position: relative
}
.cta {
    text-align: center;
    padding: 70px 0
}
.cta p {
    color: #eee;
    font-size: 18px;
    padding: 0 0 15px
}
.cta h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    padding: 0 0 50px
}
.cta .cta-button {
    background: #232328;
    color: #fff;
    width: 200px;
    height: 55px;
    line-height: 55px
}

/* ============================  Rsponsive Css ================================= */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner-classic {
        background-position: 50% 40%
    }
    .slider-content h1 {
        font-size: 80px;
        line-height: 90px
    }
    .service_icon_info .service-overlay,
    .service_icon_info_top .service-overlay {
        width: 244px
    }
    .member_toggle {
        padding-top: 10px
    }
    .member_text {
        width: 192px
    }
    ul.member_social {
        padding-top: 10px;
        padding-left: 9px
    }
    .member_content_overlay {
        margin-top: 28px
    }
    .count_text {
        text-align: center
    }
    .blog_details {
        padding: 38px 15px 30px 15px
    }
    input.wid-subscribe {
        width: 265px
    }
    input.wid-signup {
        width: 145px
    }
    .tabs {
        min-height: 315px
    }
    .tabby-content p {
        float: left
    }
    .tabby-content img {
        width: 40%
    }
    .blog_item.blog_item_big {
        display: block
    }
    .blog_item_big img {
        width: 100%
    }
    .blog_item_big .blog_content {
        max-width: 100%;
        padding-top: 30px;
        padding-bottom: 30px
    }
    .blog_item {
        margin: 20px 170px
    }
    .footer_menu li {
        padding-right: 26px
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .btn.xplus-btn {
        height: 55px;
        line-height: 55px;
        width: 180px;
        letter-spacing: 0;
        font-size: 14px
    }
    .service_section_title {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 50px
    }
    .container {
        width: 100%;
        padding: 0 30px
    }
    .service_section_title p {
        max-width: 545px;
        margin: 0 auto
    }
    .service_icon_info .service-overlay,
    .service_icon_info_top .service-overlay {
        width: 100%;
        left: 2px
    }
    .service_icon_info_top {
        border: 1px solid #ddd
    }
    .service_icon_info:nth-child(2),
    .service_icon_info:nth-child(4) {
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd
    }
    .service_icon_info {
        border-bottom: 1px solid #ddd;
        border-top: none;
        border-right: none;
        height: 216px;
        text-align: center
    }
    .service_icon_info:nth-child(1),
    .service_icon_info:nth-child(3) {
        border-left: 1px solid #ddd
    }
    .faq-wrapper > h3 {
        margin-top: 0
    }
    .imageblock_content,
    .our_goals_info {
        padding-top: 80px
    }
    .imageblock_content p,
    .our_goals_info p {
        max-width: 400px
    }
    .our_goals_info:before,
    .imageblock_content:before {
        left: -20px
    }
    .our_mission_img {
        padding-top: 60px
    }
    .section-image-slider .owl-next {
        right: 0
    }
    .section-image-slider .owl-prev {
        left: 0
    }
    .tabby-tab label {
        padding: 0px;
        font-size: 15px
    }
    .tabby-content {
        top: 20px
    }
    .tabby-content p {
        float: left;
        max-width: 360px;
        margin-top: 70px
    }
    .tabby-content img {
        width: 40%;
        margin-top: 70px
    }
    .single_mixitup_content:nth-child(1) {
        top: 90px
    }
    .grid li {
        width: 50%
    }
    .grid figcaption {
        bottom: 10px
    }
    .work-4col .grid-gallery figcaption h3,
    .work-4col .grid-gallery figcaption h3 a {
        font-size: 14px;
        margin: 0 0 8px
    }
    .work-4col .grid-gallery figcaption p {
        font-size: 12px
    }
    .work-4col .grid figcaption {
        bottom: 30px
    }
    .work-5col .grid-gallery figcaption h3,
    .work-5col .grid-gallery figcaption h3 a {
        font-size: 14px;
        margin: 0 0 8px;
        letter-spacing: 2px
    }
    .work-5col .grid-gallery figcaption p {
        font-size: 12px;
        letter-spacing: 3px
    }
    .work-5col .grid-gallery figcaption i {
        font-size: 32px;
        margin-bottom: 20px
    }
    .portfolio-short-description figure {
        padding: 30px
    }
    .pricing_table.col4 {
        margin-bottom: 30px
    }
    .navbar-nav li a {
        padding-right: 15px
    }
    .promo_cta_area {
        padding: 60px 50px
    }
    .team_member.box_shadow {
        margin: 2px auto 50px;
        width: 100%
    }
    .member_content h4,
    .member_content_overlay h4 {
        font-size: 15px
    }
    .team_icon {
        font-size: 22px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        margin-left: -40px;
        margin-top: -20px
    }
    .team-close-icon {
        font-size: 22px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        margin-left: -40px;
        margin-top: -20px
    }
    .member_toggle {
        padding-top: 60px
    }
    .member_content {
        padding-top: 20px;
        padding-right: 15px;
        padding-bottom: 30px;
        padding-left: 15px
    }
    .member_text {
        width: 100%;
        padding: 0 15px
    }
    .member_text p {
        font-size: 14px;
        line-height: 28px
    }
    .member_social li a {
        height: 36px;
        width: 36px;
        line-height: 36px
    }
    ul.member_social {
        padding-top: 65px;
        padding-right: 5px
    }
    .subscribe_area {
        text-align: center
    }
    .subscribe_info {
        padding-bottom: 50px
    }
    input.wid-signup {
        position: inherit
    }
    .blog-title h5 {
        max-width: 80%
    }
    .blog_details {
        padding: 38px 15px 30px 15px
    }
    .contact_bottom.last:last-child {
        margin-left: 0
    }
    .blog_item.blog_item_big {
        display: block
    }
    .blog_item_big img {
        width: 100%
    }
    .blog_item_big .blog_content {
        max-width: 100%;
        padding-top: 30px;
        padding-bottom: 30px
    }
    .blog_content {
        max-width: 370px
    }
    .blog_item {
        margin: 0 80px 20px
    }
    .footer_left_icon {
        padding: 0
    }
    .footer_menu li:after {
        right: 4px
    }
    .footer_menu li {
        padding-right: 16px
    }
    .footer_left_icon li {
        padding-right: 0px
    }
}
@media (max-width: 768px) {
    .container {
        padding: 0 30px
    }
    .service_section_title {
        padding-bottom: 30px
    }
    .faq-wrapper > h3 {
        margin-top: 0
    }
    .facts-headding h2 {
        font-size: 30px;
        font-weight: 500;
        line-height: 36px;
        padding-bottom: 20px
    }
    .counts {
        margin-bottom: 0px
    }
    .count_text h3 {
        font-size: 36px
    }
    .count_text p {
        font-size: 16px;
        line-height: 24px
    }
    .portfolio_section_padding {
        padding-bottom: 40px
    }
    .grid li {
        width: 50%
    }
    .grid figcaption {
        bottom: 6%
    }
    .page-title-large {
        min-height: 250px;
        padding: 140px 0 0
    }
    .work-4col.wide .grid figure .action-btn,
    .work-5col.wide .grid figure .action-btn {
        font-size: 36px
    }
    .contact_bottom.last:last-child {
        margin-left: 0
    }
    .header-sticky,
    .sticky.transparent-header .header-sticky {
        top: -1px
    }
    .banner-classic {
        background-position: 50% 40%
    }
    .slider-content h1 {
        font-size: 68px;
        line-height: 70px
    }
    .tabs {
        min-height: 270px
    }
    .member_toggle {
        padding-top: 20px
    }
    .member_text {
        width: 190px
    }
    ul.member_social {
        padding-top: 10px;
        padding-left: 10px
    }
    .member_content_overlay {
        margin-top: 22px
    }
    .blog-title h5 {
        max-width: 80%
    }
    .subscribe_area {
        padding: 90px 0 90px;
        text-align: center
    }
    .subscribe_info h3 {
        padding-top: 0;
        padding-bottom: 30px
    }
    .contact-info:last-child {
        padding-bottom: 70px
    }
}
@media (max-width: 767px) {
    .sm-device,
    .sm-device#portfolio {
        padding: 70px 0
    }
    .sm-device,
    .sm-device#portfolio {
        padding-bottom: 40px
    }
    .about-us.sm-device {
        padding-bottom: 0
    }
    .btn.xplus-btn {
        height: 55px;
        line-height: 55px;
        width: 200px;
        font-size: 14px;
        letter-spacing: .5
    }
    .align_middle {
        display: list-item;
        list-style: none
    }
    .youtub-video .embed-responsive {
        margin-bottom: 80px
    }
    .features_area {
        padding: 80px 0 30px
    }
    .about_us_area {
        border-top: 1px solid #ddd
    }
    .section-image-slider {
        margin-bottom: 60px
    }
    .section-image-slider img {
        padding: 0 15%
    }
    .facts_area-2 {
        background: #232328;
        padding: 70px 0 50px
    }
    .about-video .section_title {
        padding-top: 30px;
        padding-bottom: 20px
    }
    .section-image-slider .owl-prev {
        left: -15px
    }
    .section-image-slider .owl-next {
        right: -15px
    }
    .team_area-2.sm-device {
        padding: 5px 0 50px 0
    }
    .team_mamber.aos-init.aos-animate {
        margin: 0 15% 30px
    }
    .servie_area-2.service-5 {
        padding: 70px 60px 10px
    }
    .imageblock_content {
        padding-top: 80px
    }
    .imageblock_content_img {
        margin-bottom: 50px
    }
    .progress_details {
        padding-top: 30px;
        max-width: 95%;
        margin: 0 auto
    }
    .client_section_title {
        margin-bottom: 52px
    }
    .work-3col {
        padding: 82px 0
    }
    .portfolio_section_padding,
    .team_section_title {
        padding-bottom: 42px
    }
    .team_area-2 .team_section_title {
        padding-bottom: 75px
    }
    .grid li {
        width: 100%
    }
    .promo_title h3 {
        margin-bottom: 5px
    }
    .promo_title p.sub-title {
        padding-bottom: 30px
    }
    .promo_cta_area {
        text-align: center;
        padding: 50px 0
    }
    .member_toggle {
        padding-top: 30px
    }
    ul.member_social {
        padding-top: 104px
    }
    .blog_section_title {
        margin-bottom: 53px
    }
    .team_carousel .owl-controls {
        bottom: -10px
    }
    .team_area {
        margin-top: 20px
    }
    .team_member {
        margin: 0 0 30px
    }
    section.servie_area {
        padding: 75px 0 90px
    }
    .modal-dialog {
        width: 100%;
        padding: 0 10px
    }
    .logo_area {
        padding-top: 25px
    }
    .slider-content h1 {
        font-size: 68px;
        line-height: 70px
    }
    section.servie_area-2 {
        padding: 80px 0 50px
    }
    .service_icon_info .service-overlay,
    .service_icon_info_top .service-overlay {
        width: 100%;
        left: 2px
    }
    .service_icon_info_top {
        border: 1px solid #ddd
    }
    .service_icon_info:nth-child(2),
    .service_icon_info:nth-child(4) {
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd
    }
    .service_icon_info {
        border-bottom: 1px solid #ddd;
        border-top: none;
        border-right: none;
        height: 216px;
        text-align: center
    }
    .service_icon_info:nth-child(1),
    .service_icon_info:nth-child(3) {
        border-left: 1px solid #ddd
    }
    .our_mission_area {
        margin: 60px 0 70px;
        padding: 55px 0 70px
    }
    .imageblock_content p,
    .our_goals_info p,
    .service_section_title p {
        max-width: 100%
    }
    .working_process {
        margin: 65px 0 40px
    }
    .our_mission_img {
        text-align: center;
        margin-top: 45px
    }
    .tabs {
        min-height: 290px
    }
    .tabby-tab label {
        padding: 0;
        font-size: 14px
    }
    .tabby-content p {
        max-width: 50%;
        font-size: 14px;
        margin-top: 40px
    }
    .tabby-content img {
        width: 40%;
        margin-top: 40px
    }
    .hovereffect {
        margin-top: -4px
    }
    .video_area {
        height: 350px
    }
    a.btn.xplus-btn.promo_btn {
        float: none
    }
    .testimonial_title_top {
        padding-bottom: 75px
    }
    .testimonial-2.sm-device {
        padding: 70px 0 80px
    }
    .pricing-2 {
        padding: 70px 0 50px
    }
    .pricing_table,
    .blog_single_post {
        max-width: 460px;
        margin: 0 auto 30px
    }
    .work-2col .grid li,
    .work-3col .grid li {
        float: left;
        width: 100%
    }
    .blog_item.blog_item_big {
        display: block
    }
    .blog_item_big img {
        width: 100%
    }
    .blog_item_big .blog_content {
        max-width: 100%;
        padding-top: 30px;
        padding-bottom: 30px
    }
    .count_text {
        padding-bottom: 10px
    }
    .facts_area-2 p {
        padding-top: 5px;
        padding-bottom: 10px
    }
    .client_bg:nth-child(2):after,
    .client_bg:nth-child(3):after,
    .client_bg:nth-child(5):after,
    .client_bg:nth-child(6):after {
        border-left: none
    }
    .client_bg_top {
        border-bottom: none;
        width: 100%;
        margin-left: 0px
    }
    .counts {
        font-size: 40px;
        margin-top: 0px
    }
    .count_text p {
        font-size: 15px
    }
    form.subscribe-form i {
        top: 18px
    }
    .member_text {
        width: 100%;
        padding: 0 22px
    }
    .contact_area {
        padding-bottom: 0
    }
    .contact-2 .single-contact-info {
        padding-bottom: 20px
    }
    .footer_logo {
        text-align: center
    }
    .footer_area {
        padding-top: 45px
    }
    .footer_menu {
        text-align: left
    }
    .footer_menu,
    .footer_left_icon {
        margin: 50px 0 -40px
    }
    .footer_menu li {
        padding-right: 30px
    }
    .footer_left_icon li {
        margin-right: 0px
    }
    .footer_menu li:after {
        border-left: none
    }
    .footer_menu {
        margin-left: 0;
        padding: 0
    }
    .footer_left_icon li {
        margin-right: -4px
    }
    .footer_menu li a {
        font-size: 13px
    }
}
@media (max-width: 680px) {
    .slider-content.classic {
        padding-bottom: 0px
    }
    .slider-content.classic h2 {
        font-size: 55px;
        line-height: 75px;
        padding-bottom: 25px
    }
    .slider-content.classic p {
        font-size: 18px
    }
    .tabs {
        min-height: 600px
    }
    .tabby-tab label {
        text-align: left;
        font-size: 14px
    }
    .tabby-content p,
    .tabby-content img {
        max-width: 100%;
        width: 100%
    }
    .align_middle {
        display: list-item
    }
    .team_section_title p {
        margin: 0 auto 30px auto
    }
    .team_member {
        margin-bottom: 35px
    }
    .client_bg:nth-child(4) {
        padding-top: 0
    }
    .client_bg:nth-child(6) {
        margin-top: -135px
    }
    .counts {
        font-size: 35px
    }
    .count_text p {
        font-size: 14px
    }
    .member_toggle {
        padding-top: 10px
    }
    ul.member_social {
        padding-top: 10px;
        padding-left: 0px
    }
    .member_content_overlay {
        margin-top: 18px
    }
    .member_text {
        width: 100%;
        padding: 0 12px
    }
    .footer_menu li {
        padding-right: 10px
    }
    .footer_left_icon li {
        margin-right: -9px
    }
    .subscribe_area {
        padding: 80px 0
    }
    input.wid-subscribe {
        height: 50px;
        width: 215px;
        font-size: 13px
    }
    input.wid-signup {
        height: 50px;
        width: 100px
    }
}
@media (max-width: 500px) {
    .slider-content.static h3 {
        line-height: 35px;
        font-size: 24px;
        padding: 0
    }
    .tabby-tab label {
        padding: 0 14px 0 0;
        font-size: 14px
    }
    .hero-container {
        height: 400px
    }
    .cd-intro {
        margin-top: -150px
    }
    .slider-content h1 {
        font-size: 36px;
        line-height: 50px
    }
    .service_icon_info_top:nth-child(2) {
        margin-left: 0;
        margin-bottom: -12px;
        border-bottom: none;
        border-right: 1px solid #ddd
    }
    .service_icon_info:nth-child(1),
    .service_icon_info:nth-child(3) {
        border-right: 1px solid #ddd
    }
    .tabby-tab label {
        font-size: 14px;
        line-height: 13px;
        text-align: left
    }
    .tabs {
        min-height: 500px
    }
    .tabby-tab label {
        height: 40px
    }
    .tabby-content {
        top: 60px;
        padding: 20px 0
    }
    .tabby-content img {
        float: none;
        margin-right: 0;
        margin-bottom: 20px
    }
    .tabby-content p {
        margin-top: -20px
    }
    .video_area {
        height: 300px
    }
    .promo_cta_area {
        padding: 50px 0 60px;
        text-align: center
    }
    .section_title h3 {
        font-size: 30px
    }
    .promo_title p {
        padding-bottom: 30px
    }
    .team_icon {
        display: none
    }
    .team_member {
        margin: 0 0 30px
    }
    .client_bg_top {
        width: 100%;
        margin: 0
    }
    .counterup_area {
        text-align: center
    }
    .count_text p,
    .facts_area-2 .count_text p {
        font-size: 13px;
        text-transform: capitalize
    }
    .section_title-2.blog_section_title {
        margin-bottom: 55px
    }
    .blog-title h5 {
        max-width: 100%
    }
    .blog_details {
        padding: 38px 15px 30px 15px
    }
    .blog_item {
        display: block;
        margin: 20px 20px
    }
    .blog_item img {
        width: 100%
    }
    .blog_content {
        padding-top: 30px;
        padding-bottom: 30px
    }
    .footer_area {
        text-align: center
    }
    ul.footer_menu {
        text-align: center
    }
    .footer_menu li {
        padding-right: 15px
    }
    .footer_menu li a {
        font-size: 13px
    }
    .bottom_footer p {
        font-size: 13px
    }
    .footer_left_icon {
        float: none;
        padding: 0
    }
    .footer_menu,
    .footer_left_icon {
        margin: 40px 0 -30px
    }
}
@media (min-width: 480px) and (max-width: 500px) {
    .tabs {
        min-height: 300px
    }
}
@media (max-width: 425px) {
    .servie_area-2.service-5 {
        padding: 70px 0 10px
    }
    .facts-headding h2 {
        font-size: 26px;
        font-weight: 500;
        line-height: 32px
    }
    .count_text h3 {
        font-size: 28px
    }
    .team_area-2 .team_section_title {
        padding-bottom: 45px
    }
    .team_carousel .owl-controls {
        bottom: -10px
    }
    .team_mamber.aos-init.aos-animate {
        margin: 30px 0%
    }
    form.wpcf7-form {
        padding-left: 20px;
        padding-right: 20px
    }
}
@media (max-width: 375px) {
    .tabs {
        min-height: 460px
    }
    .video_area {
        height: 200px
    }
    a.play-btn i {
        color: #ffffff;
        font-size: 16px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50px
    }
    .video_content h3 {
        padding: 0 10px;
        font-size: 18px
    }
    .blog_item {
        display: block;
        margin: 20px 0
    }
    input.wid-subscribe {
        width: 175px
    }
}
@media (max-width: 320px) {
    .section-image-slider img {
        padding: 0
    }
    .team_icon {
        display: inherit
    }
    .tabs {
        min-height: 490px
    }
    .member_toggle {
        padding-top: 60px
    }
    .member_text {
        padding: 0 20px
    }
    ul.member_social {
        padding-top: 42px;
        padding-left: 10px
    }
    input.wid-subscribe {
        width: 175px;
        font-size: 13px
    }
    input.wid-signup {
        width: 80px
    }
    input.wid-signup {
        font-size: 13px;
        width: 85px;
        margin: 0 0 0 -7px
    }
}
